.frame {
    border: 50px solid black;
    width: 500px;
    margin: 20px auto;
    padding: 50px;
}
.canvas {
    width: 500px;
    height: 600px;
    background-color: blue;
    overflow: hidden;
    border-radius: 10px;
    filter: blur(5px);
}
.one {
    width: 425px;
    height: 150px;
    background-color: blueviolet;
    margin: 20px auto;
    border-radius: 8px 10px 8px 10px;
    filter: blur(1px);
    transform: rotate(0.6deg);
    box-shadow: 0 0 3px 3px blueviolet;
}
.two {
    width: 475px;
    height: 200px;
    background-color: brown;
    margin: 0 auto 20px auto;
    filter: blur(1px);
    border-radius: 9px;
    transform: rotate(0.4deg);
    box-shadow: 0 0 3px 3px brown;
}
.three {
    width: 91%;
    height: 28%;
    background-color: aqua;
    margin: 0 auto 20px auto;
    border-radius: 10px 20px 50px 16px;
    filter: blur(2px);
    transform: rotate(0.2deg);
    box-shadow: 0 0 3px 3px aqua;
}